<% extend('../layout/layout') %> 

<div class="signInWrap">
    <div class="Container right-panel-active">
        <!-- Sign Up -->
        <div class="Container__form Container--signup">
            <form action="/auth/register" method="POST" class="form">
                <h2 class="form__title">註冊</h2>
                <input type="email" placeholder="輸入帳號" class="input" name="email" required/>
                <% for( let i in message ) { %>
                    <% if (message[i] === '請輸入有效郵件!!!') { %>
                        <small class="text-danger"><%= message[i] %></small> 
                    <% }else if(message[i] === '此郵件已註冊過摟!!!') { %>
                        <small class="text-danger"><%= message[i] %></small> 
                    <% } %>
                <% } %>
                <input type="password" placeholder="輸入密碼" class="input" name="password" required/>
                <% for( let i in message ) { %>
                    <% if (message[i] === '密碼至少六個字元!!!') { %>
                        <small class="text-danger"><%= message[i] %></small> 
                    <% } %>
                <% } %>
                <input type="password" placeholder="確認密碼" class="input" name="checkPassword" required/>
                <% for( let i in message ) { %>
                    <% if (message[i] === '註冊成功!') { %>
                        <small class="text-success"><%= message[i] %></small> 
                    <% }else if(message[i] === '請輸入相同的密碼><') { %>
                        <small class="text-danger"><%= message[i] %></small> 
                    <% } %>
                <% } %>
                <button type="submit" class="Btn">確認註冊</button>
            </form>
        </div>
    
        <!-- Sign In -->
        <div class="Container__form Container--signin">
            <form action="/auth/signin" method="POST" class="form">
                <h2 class="form__title">登入</h2>
                <input type="email" placeholder="輸入帳號" class="input" name="email" required/>
                <% for( let i in message ) { %>
                    <% if (message[i] === '此帳號尚未註冊或是輸入錯誤!') { %>
                        <small class="text-danger"><%= message[i] %></small> 
                    <% } %>
                <% } %>
                <input type="password" placeholder="輸入密碼" class="input" name="password" required/>
                <% for( let i in message ) { %>
                    <% if (message[i] === '密碼輸入錯誤!') { %>
                        <small class="text-danger"><%= message[i] %></small> 
                    <% } %>
                <% } %>
                <a href="#" class="link">忘記密碼?</a>
                <button type="submit" class="Btn">登入</button>
            </form>
        </div>
    
        <!-- Overlay -->
        <div class="Container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="Btn" id="signIn">前往登入</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="Btn" id="signUp">前往註冊</button>
                </div>
            </div>
        </div>
    </div>
</div>