<% extend('../layout/dashboard-layout') %> 

<div class="container-fluid mt-4 mb-4">
    <div class="d-flex">
        <!-- 搜尋 -->
        <div class="input-group w-25 mr-auto">
            <input type="text" class="form-control" placeholder="搜尋" aria-label="Recipient's username" aria-describedby="button-addon2"
                data-toggle="tooltip" data-placement="top" title="按下 ENTER 快速搜尋">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">GO</button>
            </div>
        </div>

        <!-- 新增商品 -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addproduct">新增商品</button>
        <div class="modal fade" id="addproduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">新增商品</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/dashboard/product/creat" method="POST">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5">
                                    <div class="custom-file">
                                      <!-- <img src="/images/neonbrand-Wp7t4cWN-68-unsplash.jpg" alt="" style="width: 100%; height: 300px;"> -->
                                      <input type="file" class="custom-file-input" id="customFile" name="img" required>
                                      <label class="custom-file-label" for="customFile">選擇圖片</label>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="productdetail">商品描述</label>
                                        <textarea class="form-control" id="productdetail" rows="5" name="detail" required></textarea>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="mb-3">
                                        <label for="productname"">商品名稱</label>
                                        <input type="text" class="form-control" id="productname" placeholder="名稱" name="product" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productid"">商品編號</label>
                                        <input type="text" class="form-control" id="productid" placeholder="編號" name="id" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productcategory">商品類別</label>
                                        <select class="form-control" id="productcategory" name="category">
                                            <option value="" disabled>請選擇類別</option>
                                            <% for( let i in categoriesArr ) { %>
                                                <option value="<%= categoriesArr[i].name %>"><%= categoriesArr[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productorigin"">商品原價</label>
                                        <input type="number"" class="form-control" id="productorigin" placeholder="原價" name="origin" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productprice"">商品售價</label>
                                        <input type="number" class="form-control" id="productprice" placeholder="售價" name="price" required>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label for="productstock">商品存貨</label>
                                            <input type="number" class="form-control" id="productstock" placeholder="存貨" name="stock" required>
                                        </div>
                                        <div class="col-6">
                                            <label for="productunit"">商品單位</label>
                                            <input type="text" class="form-control" id="productunit" placeholder="單位" name="unit" required>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1" name="ontheshelf" value="true">
                                        <label class="custom-control-label" for="customSwitch1">上架</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                      <input type="submit" class="btn btn-success" value="確認儲存">
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-2">
            <div class="mb-3">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#category">新增類別</button>
                <!-- 新增類別 -->
                <div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">新增類別</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/dashboard/category/creat" method="POST">
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div>
                                            <div class="mb-3">
                                                <label for="name">類別名稱</label>
                                                <input type="text" class="form-control" id="name" placeholder="名稱" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="path"">類別路徑</label>
                                                <input type="text" class="form-control" id="path" placeholder="編號" name="path" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                                    <input type="submit" class="btn btn-success" value="確認儲存">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 編輯類別 -->
                <% for( let i in categoriesArr ) { %>
                    <div class="modal fade" id="<%= categoriesArr[i].path %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel"><%= categoriesArr[i].name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/dashboard/category/edit/<%= categoriesArr[i].id %>" method="POST">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div>
                                                <div class="mb-3">
                                                    <label for="name">類別名稱</label>
                                                    <input type="text" class="form-control" id="name" placeholder="名稱" name="name" value="<%= categoriesArr[i].name %>" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="path"">類別路徑</label>
                                                    <input type="text" class="form-control" id="path" placeholder="編號" name="path" value="<%= categoriesArr[i].path %>" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                                        <input type="submit" class="btn btn-success" value="確認儲存">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div>
                <!-- 類別列表 -->
                <div class="list-group">
                    <% for( let i in categoriesArr ) { %>
                        <div class="font-weight-bolder bg-light p-2">
                            <a href="/dashboard/addproducts?category=<%= categoriesArr[i].name %>" class="mr-2 ml-2">
                                <%= categoriesArr[i].name %> 
                            </a>
                            <button class="btn btn-outline-info 
                            <% if (categoriesArr[i].name === "全部商品") { %>
                                d-none
                            <% } %>" 
                                    data-toggle="modal" 
                                    data-target="#<%= categoriesArr[i].path %>">
                                編輯
                            </button>
                            <!-- Button trigger modal -->
                            <button type="button" 
                                    class="btn btn-outline-danger
                                    <% if (categoriesArr[i].name === "全部商品") { %>
                                        d-none
                                    <% } %>" 
                                    data-toggle="modal" 
                                    data-target="#<%= categoriesArr[i].name %>">
                                刪除
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="<%= categoriesArr[i].name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLabel">確定要刪除 <%= categoriesArr[i].name %> 分類嗎?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        若刪除此分類，跟此分類相關的商品也會跟著被刪除喔!也會跟著被刪除喔!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                        <form action="/dashboard/category/del/<%= categoriesArr[i].id %>" method="POST" class="d-inline">
                                            <input type="submit" value="刪除" class="btn btn-danger">
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- 商品列表 -->
        <div class="col-10">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" width=50>#</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">商品編號</th>
                    <th scope="col">商品原價</th>
                    <th scope="col">商品售價</th>
                    <th scope="col" width=80>上/下 架</th>
                    <th scope="col" width=250>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% for( let i in productsArr ) { %>
                    <tr>
                        <th scope="row"><%= i*1+1 %> </th>
                        <td><%= productsArr[i].product %></td>
                        <td><%= productsArr[i].id %></td>
                        <td><%= productsArr[i].origin %></td>
                        <td><%= productsArr[i].price %></td>
                        <td class="text-success">
                            <% if (productsArr[i].ontheshelf === 'true') { %>
                                <p class="text-success">上架</p>
                            <% } else {%>
                                <p class="text-danger">下架</p>    
                            <% } %>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                <button type="submit" class="btn btn-outline-secondary" data-toggle="modal" data-target="#<%= productsArr[i].uid %>">編輯</button>
    
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        其他
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                       <!-- Button trigger modal -->
                                        <button type="button" class="dropdown-item text-danger" data-toggle="modal" data-target="#<%= productsArr[i].uid %>del">
                                            刪除
                                        </button>
                                    </div>
                                     <!-- Modal -->
                                     <div class="modal fade" id="<%= productsArr[i].uid %>del" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="example">確定要刪除!!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                確定要刪除 <span class="text-primary"><%= productsArr[i].product %></span> 
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                                <form action="/dashboard/product/del/<%= productsArr[i].uid %>" method="POST">
                                                    <button type="submit" class="btn btn-danger">確認</button>
                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </td>
                      </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
        <!-- 編輯商品 -->
        <% for( let i in productsArr ) { %>
            <div class="modal fade" id="<%= productsArr[i].uid %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= productsArr[i].product %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="/dashboard/product/edit/<%= productsArr[i].uid %>" method="POST">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="custom-file">
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="img">
                                                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="productdetail">商品描述</label>
                                            <textarea class="form-control" id="productdetail" rows="5" name="detail" required><%= productsArr[i].datail %></textarea>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="mb-3">
                                            <label for="productname"">商品名稱</label>
                                            <input type="text" class="form-control" id="productname" placeholder="名稱" name="product" value="<%= productsArr[i].product %>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productid"">商品編號</label>
                                            <input type="text" class="form-control" id="productid" placeholder="編號" name="id" value="<%= productsArr[i].id %>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productcategory">商品類別</label>
                                            <select class="form-control" id="productcategory" name="category">
                                                <option value="" disabled>請選擇類別</option>
                                                <% for( let j in categoriesArr ) { %>
                                                    <option value="<%= categoriesArr[j].name %>"
                                                        <% if (productsArr[i].category === categoriesArr[j].name) { %>
                                                            selected 
                                                        <% } %>>
                                                        <%= categoriesArr[j].name %>
                                                    </option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productorigin"">商品原價</label>
                                            <input type="number"" class="form-control" id="productorigin" placeholder="原價" name="origin" value="<%= productsArr[i].origin %>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productprice"">商品售價</label>
                                            <input type="number" class="form-control" id="productprice" placeholder="售價" name="price" value="<%= productsArr[i].price %>" required>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <label for="productstock">商品存貨</label>
                                                <input type="number" class="form-control" id="productstock" placeholder="存貨" name="stock" value="<%= productsArr[i].stock %>" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="productunit">商品單位</label>
                                                <input type="text" class="form-control" id="productunit" placeholder="單位" name="unit" value="<%= productsArr[i].unit %>" required>
                                            </div>
                                        </div>
                                        <% if (productsArr[i].ontheshelf === 'true') { %>
                                            <input type="radio" name=ontheshelf value="true" id="on" checked> <label class="mr-2" for="on">上架</label>
                                            <input type="radio" name=ontheshelf value="false" id="under"> <label for="under">下架</label>
                                        <% }else{ %>
                                            <input type="radio" name=ontheshelf value="true" id="on"> <label class="mr-2" for="on">上架</label>
                                            <input type="radio" name=ontheshelf value="false" id="under" checked> <label for="under">下架</label>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                          <input type="submit" class="btn btn-success" value="確認儲存">
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        <% } %>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>