<% extend('../layout/dashboard-layout') %>

<div class="container-fluid my-4">
    <div class="d-flex justify-content-between mb-4">
        <!-- 搜尋 -->
        <div class="input-group w-25">
            <input type="text" class="form-control" placeholder="搜尋" aria-label="Recipient's username" aria-describedby="button-addon2"
                data-toggle="tooltip" data-placement="top" title="按下 ENTER 快速搜尋">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">GO</button>
            </div>
        </div>
        <!-- 快速下單 -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addorder">快速下單</button>
        <div class="modal fade" id="addorder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">快速下單</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/" method="">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div>
                                <div class="mb-3">
                                    <label for="productname"">商品名稱</label>
                                    <input type="text" class="form-control" id="productname" placeholder="名稱" name="product" required>
                                </div>
                                <div class="mb-3">
                                    <label for="productid"">商品編號</label>
                                    <input type="text" class="form-control" id="productid" placeholder="編號" name="id" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name">買家姓名</label>
                                    <input type="text" class="form-control" id="name" placeholder="姓名" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="tel"">買家電話</label>
                                    <input type="text" class="form-control" id="tel" placeholder="電話" name="tel" required>
                                </div>
                                <div class="mb-3">
                                    <label for="mail"">商品 Email</label>
                                    <input type="text" class="form-control" id="mail" placeholder="Email" name="mail" required>
                                </div>
                                <div class="mb-3">
                                    <label for="address"">商品地址</label>
                                    <input type="text" class="form-control" id="address" placeholder="地址" name="address" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                      <input type="submit" class="btn btn-success" value="確認儲存">
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>
    <!-- 所有訂單列表 -->
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">下單時間</th>
            <th scope="col">買家姓名</th>
            <th scope="col">買家電話</th>
            <th scope="col">買家Email</th>
            <th scope="col">買家地址</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i in orderArr ) { %>
            <tr>
                <th scope="row"><%= i*1+1 %></th>
                <td><%= moment(orderArr[i].creatOrder * 1000).format('YYYY/MM/DD') %></td>
                <td><%= orderArr[i].personal.name %></td>
                <td><%= orderArr[i].personal.phone %></td>
                <td><%= orderArr[i].personal.email %></td>
                <td><%= orderArr[i].personal.address %></td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#<%= orderArr[i].personal.uid %>edit">編輯</button>
                        <!-- 編輯 Modal -->
                        <div class="modal fade" id="<%= orderArr[i].personal.uid %>edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><%= orderArr[i].personal.name %> 的訂單</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="editname"">買家姓名</label>
                                        <input type="text" class="form-control" id="editname" placeholder="姓名" name="editname" 
                                            value="<%= orderArr[i].personal.name %>"
                                            data-uid="<%= orderArr[i].personal.uid %>"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editphone"">商品電話</label>
                                        <input type="text" class="form-control" id="editphone" placeholder="電話" name="editphone" 
                                            value="<%= orderArr[i].personal.phone %>"
                                            data-uid="<%= orderArr[i].personal.uid %>"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editemail"">買家 Email</label>
                                        <input type="text" class="form-control" id="editemail" placeholder="Email" name="editemail" 
                                            value="<%= orderArr[i].personal.email %>"
                                            data-uid="<%= orderArr[i].personal.uid %>"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editaddress"">買家地址</label>
                                        <input type="text" class="form-control" id="editaddress" placeholder="地址" name="editaddress" 
                                            value="<%= orderArr[i].personal.address %>"
                                            data-uid="<%= orderArr[i].personal.uid %>"
                                            required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                                    <button type="button" class="btn btn-success orderEdit" data-uid="<%= orderArr[i].personal.uid %>">儲存編輯</button>
                                </div>
                            </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-secondary"  data-toggle="modal" data-target="#<%= orderArr[i].personal.uid %>checkorder">查看</button>
                        <!-- 查看 Modal -->
                        <div class="modal fade" id="<%= orderArr[i].personal.uid %>checkorder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><%= orderArr[i].personal.name %> 的訂單</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">商品名稱</th>
                                            <th scope="col">商品售價</th>
                                            <th scope="col">購買數量</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let j in orderArr[i].packages[0].products ) { %>
                                            <tr>
                                                <th scope="row"><%= j*1+1 %></th>
                                                <td><%= orderArr[i].packages[0].products[j].name %></td>
                                                <td><%= orderArr[i].packages[0].products[j].price %></td>
                                                <td><%= orderArr[i].packages[0].products[j].quantity %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <p class="font-weight-bolder">付款方式: <%= orderArr[i].personal.payfor %></p>
                                    <p class="font-weight-bolder">總額: <%= orderArr[i].packages[0].amount %></p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            其他
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item text-danger" href="#" data-uid="<%= orderArr[i].personal.uid %>">刪除</a>
                            </div>
                        </div>
                    </div>
                </td>
              </tr>
          <% } %>
        </tbody>
    </table>
</div>