<% extend('../layout/layout') %> 

<div class="about-banner">
    <div class="about-banner-content">
        <p class="about-banner-first">為自己打造</p>
        <p class="about-banner-second">生活的品質</p>
    </div>
</div>

<div class="container mt-5">
    <div class="list-check">
        <ol class="list d-flex justify-content-center">
            <li class="active">
                <i class="fa fas fa-shopping-cart"></i>
                確認購物車訂單
            </li>
            <li>
                <i class="fa fa-file-text" aria-hidden="true"></i>
                填寫個人資料
            </li>
            <li>
                <i class="fa fas fa-money-check-alt"></i>
                結帳去
            </li>
            <li>
                <i class="fa fa-archive" aria-hidden="true"></i>
                完成訂單
            </li>
        </ol>
    </div>
    <div class="single">
        <i class="fa fas fa-shopping-cart"></i>
        確認購物車訂單
    </div>

    <hr class="bg-dark">

    <div class="container table-responsive">
        <table class="table table-striped" style="width: 1050px;">
            <thead class="thead-dark">
              <tr>
                <th>排序</th>
                <th>產品圖片</th>
                <th>產品名稱</th>
                <th>產品型號</th>
                <th>數量</th>
                <th>單價</th>
                <th>刪除</th>
              </tr>
            </thead>
            <tbody>
              <% for( let i in cartArr ) { %>
                <tr>
                  <td><%= i*1+1 %></td>
                  <td>
                    <img src="/images/<%= cartArr[i].img %>" alt="<%= cartArr[i].product %>" class="checkcartImg">
                  </td>
                  <td><%= cartArr[i].product %></td>
                  <td><%= cartArr[i].id %></td>
                  <td><%= cartArr[i].quantity %> <span><%= cartArr[i].unit %></span></td>
                  <td class="text-danger"><span>NT</span> <%= cartArr[i].price %></td>
                  <td>
                      <form action="/cart/checkcart/del/<%= cartArr[i].uid %>" method="post">
                        <button type="submit" class="btn btn-danger">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
        </table>
    </div>

    <table class="table col-lg-4">
      <tbody>
        <tr>
          <th scope="row">小計</th>
          <td><span>NT</span> <%= total %></td>
        </tr>
        <tr>
          <th scope="row">運費</th>
          <td><span>NT</span> 100</td>
        </tr>
        <tr>
          <th scope="row">優惠券</th>
          <td>
              <form action="">
                <input type="text" name="coupon">
                <input type="submit" value="驗證" id="checkCoupon">
              </form>
              <div id="couponResult"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">總計</th>
          <td><span>NT</span> <%= final %></td>
        </tr>
      </tbody>
    </table>

      <div class="mt-5 mb-4 text-right">
          <a href="/products" class="btn btn-success">更多..</a>
          <a href="/cart/personal" class="btn btn-success">下一步</a>
      </div>
</div>